.App {
  text-align: center;
  margin-left :20px;
  margin-right :20px;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.center {
  text-align: center;
  margin-right:auto; margin-left:auto;
}
.button {
  align-items: center;
  appearance: none;
  background-color: #3EB2FD;
  background-image: linear-gradient(1deg, #4F58FD, #149BF3 99%);
  background-size: calc(100% + 20px) calc(100% + 20px);
  border-radius: 100px;
  border-width: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-flex;
  font-family: CircularStd,sans-serif;
  font-size: 1rem;
  height: auto;
  justify-content: center;
  line-height: 1.5;
  padding: 6px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color .2s,background-position .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.button:active,
.button:focus {
  outline: none;
}

.button:hover {
  background-position: -20px -20px;
}

.button:focus:not(:active) {
  box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 .125em;
}

.input{
font-size: 14px;
border-radius: 6px;
line-height: 1.5;
padding: 5px 10px;
transition: box-shadow 100ms ease-in, border 100ms ease-in, background-color 100ms ease-in;
border: 2px solid #dee1e2;
color: rgb(14, 14, 16);
background: #dee1e2;
display: block;
height: 36px;
margin: auto;

}
.input:hover {
    border-color: #ccc;
}
.input:focus{
    border-color: #9147ff;
    background: #fff;
}

h1
{
  font-size: 25px;
  line-height: 150px;
  text-shadow: -1px -1px #3EB2FD, 1px 1px #3EB2FD, -3px 0 4px #3EB2FD;
  color: #3EB2FD; 
  padding:32px;
  font-weight:lighter;
  text-align:center;
  display:inline;
}

label {
  font-weight: bold;
  float: left
}
span {
  display: block;
  overflow: hidden;
  padding: 0 4px 0 6px
}
input {
  width: 100%
}